# Dependencies
node_modules/

# Environment variables
.env

# Runtime data (bot state, viewer data, tokens — all recreated on first run)
/data/
/ARG/data/
/logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
*.log
npm-debug.log*
/AGENTS.md
print_token.js
/ARG/F0XTA1L'S Lore Doc.pdf
/html/
